<div class="banner">
  <div class="container">
    <div class="lead">
      <img class="logo" src="img/logo.png"/>
      <div class="heading">NG-MENTIONS</div>
      <p>Native Angular components &amp; directives for customizable mentions</p>
      <p class="small">Currently at v{{version}}</p>
    </div>
  </div>
</div>

<section class="container">
  <div class="heading">Getting Started</div>
  <p>Install through <code>npm</code>:</p>
  <prism [html]="installNPM"></prism>
  <p>If you are using <strong>SystemJS</strong>, you should also adjust your configuration to point to our UMD bundle, similar to this:</p>
  <prism [html]="bundle"></prism>
  <p>Once installed you need to import our main module.</p>
  <prism language="typescript" [html]="importUsage"></prism>
  <p>The only remaining part is to list the imported module in your application modules that make use of the components in this library:</p>
  <prism language="typescript" [html]="usage"></prism>

  <div class="heading">Dependencies</div>
  <p>
    This repository contains a Angular v5+ rich mentions component. It allows for customizable mention display and custom searching.
    The only required dependencies are:
  </p>
  <ul>
    <li>
      <a href="https://angular.io" target="_blank">Angular</a> (<em>requires</em> Angular version 6 or higher, tested with 5.0.0)
    </li>
  </ul>

  <div class="heading">Supported browsers</div>
  <p>We strive to support the same browsers and versions as supported by Angular. Check browser support notes for
    <a href="https://angular.io/docs/ts/latest/guide/browser-support.html" target="_blank">Angular</a>.
  </p>
  <p>Our code is automatically tested on all the supported browsers.</p>
</section>
