<header>
  <div class="navbar navbar-fixed-top navbar-expand flex-column flex-md-row">
    <a [routerLink]="['/']" class="d-inline-flex align-self-center align-items-center"><img class="navbar-logo" src="/img/logo.png"/><span>NGX-MENTIONS</span></a>

    <div class="navbar-nav-scroll d-inline-flex flex-fill" id="navbarContent">
      <ul class="navbar-nav flex-row">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/demo']">Demo</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/support']">Support</a>
        </li>
      </ul>

      <span class="github-buttons d-none d-lg-inline ml-auto">
        <a class="github-button"
           href="https://github.com/nth-cloud/ngx-mentions"
           target="_blank"
           data-size="large"
           data-show-count="true"
           data-count-aria-label="# stargazers on GitHub"
           aria-label="Star nth-cloud/ngx-mentions on GitHub">Star</a>
        <a href="https://twitter.com/intent/tweet?button_hashtag=ngxmentions"
           class="twitter-hashtag-button"
           data-size="large"
           data-text="I&#39;m checking out ngx-mentions"
           data-url="https://ngx-mentions.github.io"
           data-show-count="true">Tweet #ngxmentions</a>
      </span>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="bd-footer text-muted">
  <div class="container">
    <p>Designed and built by the <a href="https://github.com/nth-cloud/ngx-mentions/contributors" target="_blank">ngx-mentions
      team</a>.</p>
    <p>Code licensed under <a href="https://raw.githubusercontent.com/nth-cloud/ngx-mentions/master/LICENSE"
                              target="_blank">MIT license conditions.</a></p>
    <p>Documentation licensed under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
  </div>
</footer>
