ng-mentions {
  position: relative;
  display: inline-block;

  textarea {
    position: relative;
    background-color: transparent !important;
  }

  .highlighter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    overflow: hidden !important;
  }

  highlighted {
    display: inline;
    border-radius: 3px;
    padding: 1px;
    margin: -1px;
    overflow-wrap: break-word;
    background-color: lightblue;
  }
}
